.wrapper {
	max-width: 1920px;
}
.title {
	margin: auto;
}
.body {
	background-color: #7f8c8d;
	margin: 4% 0% 0% 0%;
	position: relative;
}
.header {
	background-color: #2ecc71;
	color: #fff;
	text-align:left;
	margin: 0% 0% 0% 30%;
	padding: 5em;
	width: 30.5%;
	position: relative;
	
	
}
.web {
	bottom: -20px;
	position: absolute;
	left: 3px;
}
.side {
	position: absolute;
	background-color: #ecf0f1;
	font-size: 10px;
	margin: 0% 0% 0% 70%;
}

.menu {
	background-color: #34495e;
	text-align: right;
	color: #fff;
	width: 38.85%;
	margin: 0% 0% 0% 30%;
	padding: 1px;
	position: relative;

	
}
.nav {
	display: inline-block;
	text-align: right;
	padding: 5px;
}

.article {
	margin: 0% 0% 0% 30%;
	background-color: #ecf0f1;
	width: 39%;
	position: absolute;
}
p {
	font-size: 12px;
	margin: 15px;
	text-align: justify;
}
.pimg {
	margin: auto;
	padding-left: 30px;
}
.box {
	background-color: #bdc3c7;
	margin: 30px;
	padding: 4px;
	line-height:2px;
}
.tdm {
	font-size: 10px;
	text-align: justify;
	padding: 5px;
}
	table {
	border-spacing: 0.5em;
	border-collapse: collapse;
	margin: 30px;

}
.tr {
	padding: 7px;
}
td, th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;

}
thead {
	background-color: #bdc3c7;
	text-align: center;
}
.tfm {
	font-size: 10px;
	text-align: center;
	padding: 5px;
}
.tlm {
	font-size: 10px;
	text-align: center;
	padding: 5px;
}
.button {
	height: 15%;
	width: 30px;
	background:#3498db;
	border: 2px solid;
	display:block;
	color: #fff;
}
.credits {
	color: #bdc3c7;
}
.us {
	font-weight: lighter;
}
.line {
    display: table;
    white-space: nowrap;
    
    &:before, &:after {
      border-top: 1px solid green;
      content: '';
      display: table-cell;
      position: relative;
      top: 0.5em;
      width: 45%;
    }
    &:before { right: 1.5%; }
    &:after { left: 1.5%; }
}
.form {
	text-align: center;
}